{% extends 'base.html.twig' %}

{% block body %}
  <div class="row seek">
    <div class="col s12 m8 l6 ml-0">
      <div class="card red lighten-4">
        <div class="card-content white-text">
          
          <div class="row">
            <div class="col s12">
              <div class="row">
                  <div class="input-field col l4 s12">
                    <select>
                      <option value="" disabled selected>Catégories</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
                <div class="input-field col l8 s12">
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Recherche</label>
                </div>
              </div>
            </div>
            <a class="waves-effect waves-light deep-orange btn">Recherche</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
  
  <div class="row">
     {% for produit in produits %}
      <div class="card col l3 m4 s6 padding">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{produit.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{produit.nom}}<i class="material-icons right">more_vert</i></span>
          <p>19/09/21<p>
          <p>{{produit.prix}}<p>
          <p><a href="#">Plus d'informations</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Descripton<i class="material-icons right">close</i></span>
          <p>{{produit.description}} </p>
        </div>
      </div>
    {% endfor %}
  </div>

    
{% endblock %}

{% block stylesheets %}
<style>
    .aNav{color:#ff5722!important}
    .seek{
        display:flex;
        justify-content:center;
    } 
    .ml-0{margin-left:0!important}
    .row{width:100%}
    .padding{
      padding:10px!important;
    }
    .card-image{
      display:flex!important;
      justify-content:center;
    }
    img{
      width:auto!important;
      max-height:180px;
    }
</style>
{% endblock %}
{% block javascripts %}  
    <script> 
      $(document).ready(function(){
    $('select').formSelect();
  });
    </script>
{% endblock %}




