{% extends 'base.html.twig' %}

{% block body %}
  <a href="{{ path('quizz_signIn')}}">add</a>
  <div class="row seek">
    <div class="col s12 m8 l6 ml-0">
      <div class="card red lighten-4">
        <div class="card-content white-text">
         <div class="input-field col s12">
    <select multiple>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Multiple Select</label>
  </div>
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" id="autocomplete-input" class="autocomplete">
                  <label for="autocomplete-input">Autocomplete</label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
  
  {% for produit in produits %}
    {{produit.nom}}
  {% endfor %}
  <div class="row">
    <div class="card col l3 m4 s6 padding">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.numerama.com/content/uploads/2019/05/test-velo-mad-in-france-1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Vélo<i class="material-icons right">more_vert</i></span>
        <p>19/09/21<p>
        <p>3000€<p>
        <p><a href="#">Plus d'informations</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
      </div>
    </div>
    <div class="card col l3 m4 s6 padding">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.numerama.com/content/uploads/2019/05/test-velo-mad-in-france-1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Vélo super génial<i class="material-icons right">more_vert</i></span>
        <p>19/09/21<p>
        <p>3000€<p>
        <p><a href="#">Plus d'informations</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
      </div>
    </div>
    <div class="card col l3 m4 s6 padding">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.numerama.com/content/uploads/2019/05/test-velo-mad-in-france-1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Vélo super génial<i class="material-icons right">more_vert</i></span>
        <p>19/09/21<p>
        <p>3000€<p>
        <p><a href="#">Plus d'informations</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
      </div>
    </div>
    <div class="card col l3 m4 s6 padding">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.numerama.com/content/uploads/2019/05/test-velo-mad-in-france-1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Vélo super génial<i class="material-icons right">more_vert</i></span>
        <p>19/09/21<p>
        <p>3000€<p>
        <p><a href="#">Plus d'informations</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
      </div>
    </div>
  </div>
  
  
 




 
{% endblock %}

{% block stylesheets %}
<style>
    .aNav{color:#ff5722!important}
    .seek{
        display:flex;
        justify-content:center;
    } 
    .ml-0{margin-left:0!important}
    .row{width:100%}
    .padding{
      padding:10px!important;
    }
    img{
      max-width:auto;
      max-height:auto;
    }
</style>
{% endblock %}



