{% extends 'base.html.twig' %}

{% block body %}
<div>
    <div class="carousel" id="demo-carousel">
        <a class="carousel-item" ><img src="https://www.numerama.com/content/uploads/2019/05/test-velo-mad-in-france-1.jpg"></a>
    </div>

</div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block javascripts %}  
    <script> 
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
{% endblock %}

